body {
  display: grid;
  grid-template-areas: 'ad1 game ad2';
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: 100%;
}

.malware, .wadbot {
  width: 95%;
}

.malware {
  grid-area: ad1;
}

canvas {
  grid-area: game;
}

.wadbot {
  grid-area: ad2;
} 