body {
    display: grid;
    grid-template-areas: 'ad1 truth ad2';
    grid-template-columns: 1fr 45ch 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
}


.x {
    grid-area: ad1;
    height: 100%;
    width: 75%;
    object-fit: fill;
}


.y {
    grid-area: ad2;
    height: 100%;
    width: 75%;
    object-fit: fill;
}

.fax {
    grid-area: truth;
    position: relative;
}


